.direccionCard {
    min-height: 70px;
    max-height: 70px;
    background-color: var(--black-gray-2);
    padding: 3% 5% 3% 5%;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.infoContainer {
    width: 75%;
    border-right: 1px solid var(--black-gray-3);
}
.infoContainer p {
    color: var(--white-gray-3);
}


.iconsContainer {
    width: 18%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.iconsContainer button {
    border: none;
    width: auto;
}
.iconsContainer i {
    font-size: 20px;
    color: white;
}