.pageContainer{
    min-width: 100%;
    max-width: 100%;
    min-height: 80vh;
    max-height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.pageContainer * {
    font-family: LatoLight;
}
.pageContainer h2 {
    font-family: LatoRegular;
}




.headerPage {
    height: 6vh;
    width: 90%;
    max-width: 90%;
    border-bottom: 2px solid var(--white-gray-2);
    font-size: 30px;
    font-family: var(--font-bold);
    
    display: flex;
    justify-content: center;
    align-items: center;
}




.bodyPage {
    margin-top: 6vh;
    margin-bottom: 6vh;
    width: 42%;
    min-height: 40%;
    max-height: 40%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: start; 
}


.sectionContainer {
    min-height: 50%;
    max-height: 50%;
    min-width: 95%;
    max-width: 95%;
    padding: 0% 6% 0% 6%;
    box-sizing:border-box;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10%;
}
.sectionContainer h2 {
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    padding-bottom: 2%;
    border-bottom: 2px solid var(--black-gray);

    display: flex;
    justify-content: space-between;
}
.sectionContainer article {
    min-width: 93%;
    max-width: 100%;

    display: flex;
    flex-direction: row;
    gap: 2%;
}
.sectionTitle {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    padding-top: 8px;
    font-family: LatoLight;
    font-size: large;
    word-wrap: break-word;
}
.sectionContainer i:hover {
    cursor: pointer;
}


.sectionContainer_B {
    min-height: 100%;
    max-height: 100%;
    min-width: 95%;
    max-width: 95%;
    padding: 0% 6% 0% 6%;
    box-sizing:border-box;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10%;
}
.sectionContainer_B h2 {
    padding-bottom: 2%;
    padding-right: 2%;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    border-bottom: 2px solid var(--black-gray);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sectionContainer_B i {
    color: var(--black-gray);
    font-size: 24px;
}
.sectionContainer_B i:hover {
    cursor: pointer;
}
.direcciones {
    min-width: 100%;
    min-width: 100%;
    min-height: 90px;
    max-height: 90px;
    color: white;
    padding: 2% 2% 2% 2%;
    box-sizing: border-box;
    overflow-y: scroll;


    display: flex;
    flex-direction: column;
    gap: 16px;
}
.direcciones::-webkit-scrollbar {
  width: 4px;
  
}
.direcciones::-webkit-scrollbar-thumb {
  background-color: var(--black-gray-2);
  border-radius: 6px;
}



.buttonContainer {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.buttonContainer button {
    font-family: latoBold;
    height: 46px;
    width: 300px;
    border-radius: 14px;
    border: 2px solid var(--black-gray);
    color: var(--black-gray);
    font-size: 18px;
}
.buttonModificateUser:hover {
    border-color: var(--black-gray-2);
    background-color: var(--black-gray-2);
    color: var(--white-gray-2);
}
.buttonDeleteAccount:hover {
    border: 2px solid rgb(212, 52, 52);
    background-color: var(--dark-red);
    color: var(--white-gray);
}