.containerPage{
    width: 100vw;
    height: 88vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.containerHeader{
    transform: translateY(20px);
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 10px;
}
.containerButtonHeader {
    width: 90%;
    height: 30px;
    display: flex;
    justify-content: space-between;
}
.buttonVolver {
    width: 200px;
    padding: .4rem;
    background-color: white;
    border: 1px solid #1F1F1F;
    border-radius: 5px;
    font-size: 18px;
    transition: ease-in-out .3s;
}
.buttonVolver:hover {
    cursor: pointer;
    background-color: rgb(226, 226, 226);
}
.containerHeader hr{
    font-family: latoRegular;
    width: 90%;
    height: 3px;
    background-color: rgba(0, 0, 0, 10%); 
    border-radius: 5px; 
    border: none;
}
.containerBody{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.containerButton{
    width: 90%;
    display: flex;
    justify-content: flex-start;
}
.containerButton button{
    width: 180px;
    padding: 15px;
    font-size: 15px;
    font-family: latoRegular;
    border: none;
    border-radius: 10px;
    background-color: #1F1F1F;
    color: white;
    transition: ease-in-out .3s;
}
.containerButton button:hover{
    cursor:pointer;
    scale: 1.05;
}
.containerTable{
    width: 90%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior:smooth;
}