.componentCarrusel {
  width: 100%;
  max-width: 1300px;
  margin: 20px auto 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 20px;
}

.carouselContainer {
  overflow: hidden;
  flex: 1;
  width: 100%;
}

.carouselTrack {
  display: flex;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.carouselInner {
  padding-top: 5px ;
  display: flex;
  width: max-content;
  gap: 0.8rem;
}

.carouselItem {
  min-width: calc(100% / 4);
  flex-shrink: 0;
  flex: 0 0 24%;
  box-sizing: border-box;
  min-width: 0;
}

.carouselItem:first-child {
  padding-left: 0;
}

.carouselItem:last-child {
  padding-right: 0;
}

.navButton {
  background-color: transparent;
  border: none;
  font-size: 30px;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background-color 0.2s;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.navButton:first-child {
  left: 0;
  margin-left: 10px;
}

.navButton:last-child {
  right: 0;
  margin-right: 10px;
}

.navButton:hover:not(:disabled) {
  background-color: #f3f4f6;
}

.navButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.noProducts {
  width: 100%;
  text-align: center;
  padding: 2rem 0;
  color: #6b7280;
}
