.backgroundBlur{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(3px);
    box-sizing: border-box;
    z-index: 200;
}
.modalContainer{
    font-family: latoRegular;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid white;
    background-color: #1f1f1f;
    width: 50%;
    height: 80%;
    z-index: 999;
    padding: 15px 40px 15px 40px;
    gap:20px;
}
.modalHeader{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 24px;
}
.modalBody{
    width: 100%;
}
.containerForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.inputsForm{
    gap: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.inputsFormRow{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.inputWrapper{
    width: 30%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}
.inputsFormRow:last-child .inputWrapper{
    width: 50%;
}
.inputWrapper input,
.inputWrapper select {
    border-radius: 2px;
    width: 100%;
    height: 40px;
    color: white;
    background-color: #1f1f1f;
    box-sizing: border-box;
    border: 1px solid white;
}
.inputWrapper hr {
    width: 100%;
}
.inputWrapper input[type='number']::-webkit-outer-spin-button,
.inputWrapper input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.error{
    position: absolute;
    bottom: 0;
    transform: translateY(20px);
    font-size: 15px;
    color: red;
}

.buttonsForm{
    display: flex;
    justify-content: space-around;
    width: 80%;
}
.buttonsForm button{
    display: flex;
    border-radius: 2px;
    border: 1px solid white;
    justify-content: center;
    align-items: center;
    width: 150px;
    font-size: 18px;
    padding: 20px 0px 20px 0px;
}
.buttonsForm button:hover{
    cursor: pointer;
    border-radius: 10px;
}
.buttonsForm button:disabled{
    background-color: #ccc;
}
.buttonsForm button:hover:disabled{
    cursor: not-allowed;
    border-radius: 2px;
}
.confirmButton{
    background-color: #1f1f1f;
}
.cancelButton{
    background-color: var(--dark-red);
}