.navbarContainer {
  height: 12vh;
  background-color: #1f1f1f;
  font-family: LatoRegular;
  font-size: 20px;
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
}

.navbarLogoContainer {
  height: 100%;
}
.navbarLogoContainer:hover {
  cursor: pointer;
}
.navbarLogoSegment{
  min-width: 80px;
  width: 10%;
}
.navbarFilterSegmnet{
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: flex-start;
}
.searchbarSegment{
  display: flex;
  width: 100%;
  justify-content: center;
}
.searchContainer {
  border: 1px solid white;
  height: 35px;
  width: 130px;
  display: flex;
  align-items: center;
  color: white;
  transition: .5s ease-in-out;
  justify-content: flex-start;
}
.searchContainer.focused {
  width: 100%;
}
.searchInput {
  all: unset;
  padding-left: 12px;
  box-sizing: border-box;
  background-color: transparent;
  width: 90%;
  display: flex;
  align-items: center;
}

.userOptionSegment{
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: flex-end;
}
.containerBotones{
  display: flex;
  gap: 20px;
}
.goToCuentaButton {
  position: fixed;
  top: 12%;
  right: 0%;
  height: 50px;
  width: 150px;
  font-size: 18px;

  background-color: var(--black-gray);
  border-radius: 0px;
}
.navbarButton {
  width: 40px;
  height: 35px;
  font-size: 30px;
  color: white;
  background-color: #1f1f1f;
  border: none;
}

.navbarContainer ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.navbarContainer ul li {
  width: 100px;
}

.navbarContainer ul li a {
  text-decoration: none;
  color: white;
}