.formOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: LatoRegular;

    display: flex;
    align-items: center;
    justify-content: center;
}



.formContainer {
    background-color: var(--black-gray);
    height: 400px;
    width: 400px;
    color: var(--white-gray);

    display: flex;
    flex-direction: column;
    align-items: center;
}




.headerForm {
    width: 70%;
    height: 20%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}




.bodyForm {
    width: 70%;
    height: 60%;

    display: flex;
    flex-direction: column;
    gap: 8%;
}
.item {
    max-height: 32%;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 10%;
}
.item p {
    height: 40%;
    width: 100%;
    max-width: 100%;
    border-bottom: 1px solid var(--white-gray-3);
    display: flex;
    flex-direction: column;
}
.item input{
    height: 50%;
    width: 100%;
    max-width: 100%;
    background-color: var(--black-gray-2);
    color: var(--white-gray);
    padding-left: 3%;
    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
}




.buttonsForm {
    width: 70%;
    height: 20%;
    padding-top: 1%;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: start;
}

.cancelButton:hover {
    cursor: pointer;
    background-color: var(--dark-red);
    transition: 0.4s;
}
.acceptButton:hover {
    cursor: pointer;
    background-color: var(--white-gray-3);
    transition: 0.4s;
}