.dropdownContainer {
    position: absolute;
    top: 12vh;
    right: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 20px;
    border: 1px solid white;
    background-color: #1f1f1f;
    font-family: latoLight;
    color: white;
    font-size: 18px;
    text-align: center;
    gap: 20px;
    z-index: 1;
}

.dropdownContainer p:hover {
    cursor: pointer;
    text-decoration: underline;
}