.dropdownContainer{
    position: fixed;
    width: 100px;
    right: 0;
    top: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1px;
    border: 1px solid white;
    background-color: #1f1f1f;
    font-family: latoLight;
    color: white;
    font-size: 18px;
    text-align: center;
    gap: 20px;
    padding: 20px;
    z-index: 1;
}
.dropdownContainer p:hover{
    cursor: pointer;
    text-decoration: underline;
}