:root {
  --black-gray: #1f1f1f;
  --white-gray: #F2F2F2;
  --white-gray-2: #D0D0D0;
  --white-gray-3: #555555;
  --black-gray-2: #2C2C2C;
  --yellow: #FFCD27;
  --dark-red: #A60000;
}

input {
  border: none;
  outline: none;
}

button {
  border: none;
  outline: none;
  height: 30px;
  width: 110px;
  font-size: 15px;
  color: white;
  border: 1px solid white;
  background-color: transparent;
  transition: 0.2s;
  border-radius: 8px;
}
button:hover {
  cursor: pointer;
}