:root {
  --black-gray: #1f1f1f;
  --black-gray-2: #2C2C2C;
  --black-gray-3: #3d3d3d;
  --white-gray: #F2F2F2;
  --white-gray-2: #D0D0D0;
  --white-gray-3: #666666;
  --yellow: #FFCD27;
  --dark-red: #a80000;
  --dark-red-2: #c50000;
}

input {
  border: none;
  outline: none;
}

button {
  border: none;
  outline: none;
  height: 30px;
  width: 110px;
  font-size: 15px;
  color: white;
  border: 1px solid white;
  background-color: transparent;
  transition: 0.2s;
  border-radius: 8px;
}
button:hover {
  cursor: pointer;
}

/* SWAL */
.custom-popup{
    background-color: #1f1f1f;
    border: 1px solid white;
    border-radius: 1rem;
    font-family: latoRegular;
}
.custom-titulo{
    color: white;
}
.custom-boton-confirmar{
    background-color: #1f1f1f;
    border-radius: 10px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.custom-boton-cancelar{
    background-color: var(--dark-red);
    border-radius: 10px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
/* Estilo cuando el botón está deshabilitado */
button:disabled {
    background-color: var(--white-gray-3);
    color: var(--black-gray);
    cursor: auto;
    transform: none;
}