.containerDropdownFiltro{
    font-family: latoRegular;
    display: flex;
    border: 2px solid rgba(0, 0, 0, 10%); ;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: fixed;
    transform: translateY(40px);
    width: 90vw;
    background-color: rgb(255, 255, 255);
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
    font-size: 20px;
}
.inputFiltroContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
input, select{
    background-color: #d0d0d0;
    font-size: 18px;
    border: 1px solid #1f1f1f;
    border-radius: 5px;
    padding: 5px;
    width: 150px;
}
input:focus{
    outline: 1px solid #1f1f1f;
}